.header {
  background-color: #959d9e;
  padding: 20px;
  margin-bottom: 20px;
  &__heading {
    width: 97%;
    margin: 0 auto;
    text-align: left;
    a {
      color: #FFF;
      text-decoration: none;
    }
  }
}